/* Light mode values (Default) */
:root {
  --bg-color: #ffffff;
  --text-color: #1a1a1a;
  --link-color: #333333;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

/* Dark mode values */
[data-theme="dark"] {
  --bg-color: #2e2e2e;
  --text-color: #e6ebc9;
  --link-color: #cbe38f;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}


html {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 20px;
  padding: 20px;
  font-family: monospace;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: var(--link-color, #1a1a1a); /* Use link color variable or default */
}

a:hover { 
  background-color: #eeeeee;
}

#searchwrap {
  margin-bottom: 20px;
}


.octocat {
  width: 40px;
  margin-bottom: -15px;
}

.darkmode {
  width: 40px;
  margin-bottom: -15px;
}